/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 


/* corpo*/
main{
    width: 80%;
    margin: 30px auto;
    font-size: 0px;

}

.card{
  width: calc(100% / 3);
  display: inline-block;
  font-size: 14px;
  padding: 20px;
}
.card-image img{
    width: 100%;
}